<?xml version='1.0' encoding='utf-8'?>
<odoo>
    
    <menuitem
        id="game_menu_root"
        name="Game Store"
        sequence="10"/>


    <!-- This Menu Item Must have a parent -->
    <menuitem 
        id="game_playstation_menu_categ" 
        name="Console" 
        parent="game_menu_root" 
        sequence="10"/>

    <menuitem
        id="game_controller_menu_categ"
        name="Controller"
        parent="game_menu_root"
        sequence="20"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem 
        id="game_game_menu_categ" 
        name="Accessories" 
        parent="game_menu_root" 
        sequence="30"/>
    <!-- This Menu Item Must have a parent -->
    <menuitem 
        id="game_partner_menu_categ" 
        name="Partner" 
        parent="game_menu_root" 
        sequence="40"/>
</odoo>